/*
 * Add Button
*/

.add-button{
    color: #60b246;
    font-size: 0.72rem;
    height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid #d4d5d9;
    display: inline-flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.add-button:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.add-button:active{
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.add-button .add-label{
    margin: 0.2rem 1.5rem;
}

.add-button .add-action{
    padding: 0rem 0.72rem;
}

.customize-text{
    display: block;
    font-size: 0.7rem;
    margin: 0.25rem 0rem;
    color: rgba(0, 0, 0, 0.6);
}

/*
* Cart Page
*/

.cart-page{
    padding: 2rem;
    background-color: white;
    overflow: scroll;
}

.cart-page .cart-body .item-name{
  margin-right: 4rem;
}

.cart-page .cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*
* Checkout Page
*/



.checkout-page{
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 2rem 10%;

}

.checkout-page h1{
    font-weight: bold;
}


.checkout-page .checkout-body{
  width: 70vw;
}

.checkout-body{
    display: flex;
}

.checkout-page .item-image{
    width: 10rem;
    height: 10rem;
    background-color: #eeeeee;
}

.checkout-page .item-title{
    margin-left: 4rem !;
}

.checkout-page .item-description{
    color: rgba(0, 0, 0, 0.6);
}

.checkout-page .subheader{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
}

.item-list{
    display: flex;
    flex-flow: column;
    width: 0rem;
    flex-grow: 1;
}

.item-list .item-detail-list{
    flex-grow: 1;
}


.dark-bill{
    background-color: #111111;
    margin: 0rem 4rem;
    padding: 2rem 4rem !important;

}

.dark-bill .bill-body{
    padding: 0.5rem 0rem;
}

.dark-bill .divider{
    content: '';
    height: 0.05rem;
    width: 12rem;
    align-self: center;
    display: block;
    margin: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.dark-bill h2{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.dark-bill .subhead{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 700;
}
.dark-bill .dark{
    color: white;
    font-weight: 500;
}

.dark-bill .dark-light{
  color: rgba(255, 255, 255, 0.8);
}

.radio{
   margin-left: 2rem;
}

@media screen and (max-width:480px){
   
    .cart-page{
        padding: 2rem 1rem;
    }

     .checkout-body{
         padding: 2rem 0rem;
     }

    .checkout-body{
        display: flex;
        flex-flow: column;
        width: 100%;
        padding: 2rem 0rem;
    }
    .dark-bill{
        margin:2rem auto;
        width: 90vw;
    }
}