
.profile-page{
    background-color: #37718e;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

.profile-header .title{
    color: white;
    font-size: 1.5rem;
  
}

.profile-header .description{
    color: #e5e5e5;
    font-size: 1rem;
}

.profile-body{
    margin-top:2% ;
    background-color: white;
    min-height: 75%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.profile-menu{
    width: auto;
    margin: 1rem 2rem;
    padding: 0rem 0rem;
}
.profile

.profile-tab-body{
    flex-grow: 1;
}

.payment-body{
    padding: 0rem 2rem;
}

/*
* Orders Body
*/

.order-body{
    padding: 0rem 2rem;
}


/*
* Social Login
*/

.social-button{
    margin: 1.5rem 1rem;
    display: block;
    padding: 0rem 1rem;
    height: 2.4rem;
    padding: 0rem 1rem;
}

.social-button img{
    width: 1.2rem;
    height: 1.2rem;
}

.social-button .text{
    display: inline-block;
    margin: 0rem 0.5rem;
    font-size: 0.9rem;
}

/*
* 
*/

.login-page{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}