.contact-form{
    margin-top: 2rem;
    max-width: 100% !important;
    background-color: #292833;
    padding: 5rem 1rem 1rem;
    /* background-color: black; */
    /* display: flex;
    width: 100vw;
    padding: 4rem 8vw ; */
}

.contact-form h6{
    font-size: 1rem;
    color: rgba(0, 0,0,0.6);
    font-weight: 700;
}

.contact-form h1{
    font-size: 1.8rem;
    font-weight: 700;
}

.contact-form .title{
    font-weight: 600;

}

.contact-form .description{
    font-weight: 600;
    color: rgba(0, 0,0,0.6);

}

.contact-form .height-box{
    display: block;
    height: 1.2rem;
    
}

.logo-container {
    display: flex;
}

.logo-container .logo {
    width: 14rem;
    height: 7rem;
    position: relative;
    top: -2rem;
}

.logo-container .logo-title {
    color: white;
    margin-left: 1rem;
}

.contact-form .data-container {
    text-align: left;
    margin-bottom: 2rem;
}

.contact-form .title {
    color: white;
    margin-bottom: 1rem;
}

.contact-form .data-container .description {
    color: white;
    font-weight: 400;
    margin-top: 1rem;
    display: block;
}

.contact-form .data-container .description .tech-icon {
    width: 2rem;
    margin-right: 1rem;
}

.contact-form .data-container .description .tech-text {
    border-bottom: 2px solid #50e3c2;
    padding-bottom: 2px;
    display: inline-block;
}

.contact-form .data-container .description a {
    color: white;
    text-decoration: none;
}

.footer-extended-row .title {
    color: white;
    font-weight: 400;
    margin-top: 2rem;
}
