.intro-page{
    width: 100vw;
    position: relative;
    margin: 2rem 0rem;
}

.intro-img{
    width: 80%;
    height: 45vh;
    object-fit: cover;
}

.intro-para{
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: white;
    position: absolute;
    right: 2rem;
    top: 2rem;
    max-width: 40%;
    box-shadow: 0 0 5px 1px lightgrey;
}

.intro-page h1{
    font-weight: bold;
    font-size: 2rem;
}
.intro-page h4{
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
}

.more-btn{
    font-size: 1rem;
    color: black;
    font-weight: 600;
    padding: 0rem;
}



@media only screen and (max-width:480px){    

    .intro-page{
        margin: 0rem 0rem;
    }

    .intro-para{
        position: relative;

        width: 100%;
        max-width: 100%;
        margin: 0rem 0rem ;
        right: 0rem;
        left: 1rem;
    }
    .intro-img{
        display: none;
    }
 
}
