/*
* Carousel Styling
*/


.explore-carousel{
    padding: 1rem auto;
    width: 100vw;
    background-color: #171a29;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}

.explore-carousel img{
    height: 32vh;
    width: 20vw;
    object-fit: cover;

}

@media screen and (max-width:480px){
    .explore-carousel img{
        height: 12vh;
    }
}
