.explore-categories{
    /* width: 100vw;
    padding: 2vh 10vw;
    display: flex;
    flex-flow: column; */
    padding: 0 2rem;
}

.explore-text-container .subtitle{

    font-size: 1rem;
    color: rgba(0, 0,0, 0.7);
}

.explore-text-container .title{
    font-weight: bold;
    font-size: 2.3rem;
}

.explore-btn{
    color: black;
    font-size: 1.25rem;
    padding: 0pt;
    font-weight: 500;
}

.explore-category-list{
    margin-top: 2vh;
    /* display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row;
    overflow-x: scroll;
    width: 100vw; */
}

.category{
    padding: 1rem 1rem;
    margin: 0rem 1rem;
    display: inline-block;
    /* max-width: 20vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
}

.category h4{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.explore-category-list img{
  height: 10rem;
  width: 10rem;
  background-color: #eceff4;
}

.category:hover{
    cursor: pointer;
    background-color: #eceff4;
}

.category:hover h4{
    display: block;
}

.explore-category {
    width: 10rem !important;
}


@media only screen and (max-width:480px){
    .explore-categories{
        display: flex;
        flex-flow: column;
    }
    .explore-category-list{
        margin-top: 2rem;
        width: 100%;
    }

.category h4{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 2rem;
}

  
}

