
.search-page{
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.search-input{
     width: 70rem;
}

.search-input input{
    padding: 1rem !important;
    font-size: 1.2rem;
    line-height: 1.5rem;
    height: 3rem !important;
}

.search-input .search-btn{
    height: 3rem !important;
}

/*
* suggestions
*/

.search-suggestions{
    width: 100vw;
    padding: 2rem 2rem;
}


.suggestion img{
    width: 7rem;
    height: 4rem;
    background-color: grey;
}

/*
* Search Results
*/

.search-results{
    width: 100vw;
    padding: 2rem 2rem;
}

.search-item{
    padding: 1.5rem 0rem;
}

.search-item .avatar{
    width: 8rem;
    height: 5rem;
    border-radius:  0pt !important;
    background-color: gray;
}