/*
* Restaurant List Body
*/
.restaurant-list-body{
    /* display: flex;    
    width: 100vw;
    padding: 0vw 2.5vw; */
    text-transform: capitalize;
    flex-flow: column;
}

/*
* Restaurant Filter Part
*/

.restaurant-filter-part{
    padding: 2rem;
}

.restaurant-filter{
    /* display: flex;
    flex-flow:column ; */
}
.restaurant-filter ul{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.restaurant-filter h1{
    font-weight: 700;
    font-size: 2.6rem;
}

.restaurant-filter h3{
    font-weight: 600;
    font-size: 1.5rem;
}

.restaurant-filter .cuisine{
    font-size: 1rem;
    cursor: pointer;
    color: black;
    display: block;
    color: rgba(0, 0, 0, 0.7);
    margin: 0.5rem 0rem;
}

.restaurant-filter .active{
    background-color: #FED7D7;
    border-radius: 12rem;
}
/*
*
*/
.restaurant-list-part{
    padding: 0rem 1.5rem;
    /* width: 100vw; */

}

.restaurant-list{
    /* display: flex;
    flex-wrap: wrap; */
}

.restaurant-card{
    margin: 1rem;
    width: 12rem;
    /* padding: 1rem; */
    box-shadow: 0 0 15px 1px lightgrey;
    cursor: pointer;
}

.restaurant-card:hover{
    box-shadow: 0 0 5px 1px lightgrey;
    cursor: pointer;
}

.restaurant-card-img-container {
    background-color: #173143;
    padding: 0.5rem;
}

.restaurant-card img{
    width: 11rem;
    height: 7rem;
    background-color: #eeeeee;
}

.restaurant-card-body-container {
    padding: 1rem;
}

.restaurant-card-body{
    padding: 1rem 0rem;
}

.restaurant-card-body .title{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

.restaurant-card-body .subtitle{
    display: block;
    margin-top:0.2rem ;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.restaurant-card .details{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}

.restaurant-card .details .span{
    display: inline-block;
}
.restaurant-card .rating{
    background-color: #db7c38;
    padding: 0.1rem 0.4rem;
    color: white;
}

.restaurant-card-wrapper {
    width: 12rem;
    text-decoration: none;
}


 @media screen and (max-width:480px){

    
    .restaurant-list-body{
        /* flex-flow: column;
        justify-content: center;
        align-content: center;
        justify-items: center; */
    }

    .restaurant-card{
        /* width: 100%; */
        /* margin: 1rem 0%; */
        /* align-items: stretch; */
    }

    .restaurant-filter{
        display: flex;
        flex-flow:column;
    }
    .restaurant-filter ul{
        display: flex;
        flex-flow: row;
}

 }