

.loading-shimmer{
    display: flex;
    flex-flow: row;
    width: 100%;
}

.loading-shimmer .image{
    width: 12rem;
    height: 8rem;
    background-color: #eeeeee;

}

.loading-shimmer .body{
    margin-left: 5%;
    flex-grow: 1;
}

.loading-shimmer .title{
    height: 1.8rem;
    width: 100%;
    background-color: #eeeeee;

}

.loading-shimmer .subtitle{
    height: 1.2rem;
    width: 80%;
    margin-top: 1.2rem;
    background-color: #eeeeee;

}

.grid-shimmer-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.grid-shimmer{
    display: flex;
    flex-flow: column;
    margin: 2rem;
}

.grid-shimmer .image{
    width: 12rem;
    height: 10rem;
    background-color: #eeeeee;
}

.grid-shimmer .body{
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
}

.grid-shimmer .title{
    width: 12rem;
    height: 1rem;
    background-color: #eeeeee;

}

.grid-shimmer .subtitle{
    margin-top: 0.6rem;
    width: 10rem;
    height: 0.8rem;
    background-color: #eeeeee;

}