
.restaurant-detail-container{
    background-color: #171a29;
    padding: 3rem 6rem;
}

.restaurant-detail{
  

    display: flex;
    flex-flow: row;
    text-transform: capitalize;
}

.restaurant-detail .cover{
    width: 14rem;
    height: 10rem;
    object-fit: cover;
    background-color: white;
}

.restaurant-detail .body{
    flex-grow: 1;
    color: white !important;
    margin-left: 4rem;
}
.restaurant-detail .title{
    font-size: 1.6rem;
    font-weight: 600;
    color: white !important;
    display: block;
}
.restaurant-detail .description{
    color: rgba(255, 255, 255, 0.8) !important;
    margin-top: 0.5rem;
}

.restaurant-detail .details{
    margin-top: 1.5rem;
    display: flex;
}
.restaurant-detail .sub-detail{
    margin-right: 2rem;
}
.restaurant-detail .details .sub-detail .name{
    display: block;
    font-size: 0.8rem;
    font-weight: bold !important;
}
.restaurant-detail .details .sub-detail .label{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
}


/*
* Restaurant Item
*/

.restaurant-item{
    display: flex;
    padding: 1rem 0rem;
    width: 100% !important;
}

.restaurant-item .thumbnail{
    width: 6rem;
    height: 6rem;
    object-fit: fill;
    background-color: #eeeeee;
}

.restaurant-item .body{
    flex-grow: 1;
    margin: 0rem 2rem;
}

.restaurant-item .title{
    text-transform: capitalize;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.restaurant-item .description{
    text-transform: capitalize;
    display: block;
    font-size: 0.72rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.restaurant-item .price{
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0.3rem;
    color: rgba(0, 0, 0, 0.6);
}

/*
* Restaurant Menu
*/

.restaurant-menu-page{
  display: flex;
  flex-flow: row;
}

.restaurant-menu{
    padding: 2rem 4rem;
    flex-grow: 1;
    width: 0rem;
}

.mobile-padding-fix {
    height: 6rem;
}

.cart-page{
    width: 20vw;
}

.mobile-component {
    display: none;
}

@media only screen and (max-width: 576px) {
    .mobile-component {
      display: block;
    }

    .dektop-component {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-restaurant-detail {
        background-color: #171a29;
        padding: 2rem 4rem;
        position: relative;
    }

    .mobile-restaurant-detail .cover {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        background-color: white;
        border-radius: 1rem;
    }

    .mobile-restaurant-detail .back-icon {
        color: white;
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 1.5rem;
    }

    .mobile-restaurant-info {
        background-color: white;
    }

    .mobile-restaurant-info .heading {
        display: flex;
        color: black;
        padding: 1.5rem 1.5rem 0.5rem;
    }

    .mobile-restaurant-info .heading .title {
        font-weight: bold;
        flex: 1;
    }

    .mobile-restaurant-info .heading .rating-container {
        font-size: 1.5rem;
    }

    .rating-container .rating {
        background-color: gold;
        color: #3c3c3c;
        padding: 0.5rem;
        border-radius: 5px;
    }

    .mobile-restaurant-info .activities {
        display: flex;
        padding: 0rem 2rem 1rem;
    }

    .mobile-restaurant-info .activities .activity {
        flex: 1;
        font-size: 1rem;
        text-align: center;
        color: #0a0a0a;
    }

    .mobile-restaurant-info .activities .anticon {
        font-size: 1.5rem;
    }

    .mobile-restaurant-info .address-contianer {
        background-image: linear-gradient(to right, white , gray);
        color: black;
        padding: 1.5rem;
    }

    .mobile-restaurant-info .address-contianer .address {
        color: black;
    }

    .restaurant-menu-header {
        padding: 1rem 2rem;
    }

    .restaurant-mobile-menu-items {
        margin: 0 2rem;
    }

    .restaurant-mobile-menu-items .restaurant-item {
        padding: 0;
    }

    .restaurant-mobile-menu-items .restaurant-item .body {
        display: flex;
        margin: 0rem 1rem !important;
    }

    .restaurant-mobile-menu-items .restaurant-item .body .price {
        padding-left: 2rem;
        margin-top: 0;
        font-size: 0.9rem;
    }

    .restaurant-mobile-menu-items .restaurant-item .add-button sup {
        font-size: 0.9rem;
        top: 0;
    }

    .mobile-cart {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .mobile-cart .checkout-button {
        height: auto;
    }

    .mobile-cart .checkout-container {
        display: flex;
        text-align: left;
        padding: 1rem;
    }

    .mobile-cart .checkout-container .checkout-details {
        flex: 1;
    }

    .mobile-cart .checkout-container .checkout-details .total {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .mobile-cart .checkout-container .checkout-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }

    .mobile-cart .checkout-container .checkout-arrow .anticon {
        padding-left: 5px;
    }
}
