.cover-page{
    display: flex;
    flex-flow: column;
    /* width: 100vw; */
    padding: 3rem 5vw;
    /* overflow: scroll; */
    background-color: #173143;
    align-items: flex-start;
}

.cover-page .title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}


.cover-page .subtitle{
  color: rgba(255, 255,255,0.7);
  font-size: 1rem;
  font-weight: 600;
}

.selector-container {
  max-width: 100% !important;
  margin-top: 2rem;
}


.cover-page .cover-input{
  /* display: flex;
  flex-flow: row;
  width: 80%;
  margin-top: 0.5rem; */
}

.cover-page .cover-search-input{
  /* width: 80%; */
}

/*
* Cover Search
*/


@media only screen and (min-width:480px){
    /* .drawer-btn{
        display: none;
    } */

}