/*
* Home Header Styling
*/

.header{
    width: 100vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 0vh 2vw;
}

.header-menu-container{
    width: 20vw;
}

.header-menu-btn{
    color: black !important;
    font-size: 1.1rem;
    font-weight: bold;
}

.header-logo-container{
    width: 20vw;
    display: flex;
    justify-content: center;
}

.header-logo{
    height: 5rem;
}

/*
* Header options
*/
.header-option-list{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

.header-option-list a{
    font-weight: normal;
    font-size: 0.95rem;
    margin: 0rem 1.5rem;
    color: #000;
    text-transform: capitalize ;

}
/*
* Header actions
*/

.header-action-list{
    width: 20vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.header-action{
    color: black;
    font-size: 1.4rem;

}

.account-btn{
    font-size: 0.95rem;
    font-weight: 700;
    color: black !important;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header-cart{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0rem 0.5rem;

}

.header-cart .header-action{
    position: absolute;
}

.header-cart .cart-detail{
    position: absolute;
    font-size: 0.35rem;
    line-height: 0.35rem;
    color: white;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe043c;
    right: 0;
    bottom: 0;
}

.checkout-btn{
  color: white;
  padding: 0rem 1.8rem;
  height: 2.6rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  margin: 0rem 1.5rem;
}

/* .checkout-btn:hover{
    color: #78787f;
    border-color: #78787f;
} */

/*
* Home Drawer
*/

.home-drawer-body{
    background-color: white !important;
}


.desktop-menu{
    display: flex;
    align-items: center;
   flex-grow: 1; 
}

.drawer-btn{
    margin-left: auto;
}

@media only screen and (max-width:480px){
    .desktop-menu{
        display: none;
    }

}

@media only screen and (max-width:480px){
    .desktop-menu{
        display: none;
    }
    .responsive-menu{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .responsive-menu a{
        color: black;
    }
    .responsive-menu > *{
        margin: 0.5rem 0rem;
    }

    .checkout-text {
        display: none !important;
    }
}


@media only screen and (min-width:480px){
    .drawer-btn{
        display: none;
    }

}

.ant-page-header-heading {
    display: flex;
}

.ant-page-header-heading-extra {
    display: flex;
    overflow: visible;
    padding-top: 0;
    flex: 1;
    justify-content: flex-end;
}