.cuisine-body{
    display: flex;
    flex-flow: row;
}

.cuisine-body > .restaurant-list{
    display: flex;
    flex-flow: column;
}

.restaurant-list h3{
    font-weight: 700;
    font-size: 2rem;
}
.restaurant-name-list{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.cuisine-body > .restaurant-list .restaurant-name{
    font-size: 1rem;
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.cuisine-body > .restaurant-list .restaurant-name:hover{
    color: lightblue;
}

.cuisine-body .restaurant-list{
    padding: 2rem 4rem;
}

.cuisine-list{
    display: flex;
    flex-wrap: wrap;
}

.cuisine-card{
    margin: 0rem;
    width: 18vw;
    padding: 1vw;
}

.cuisine-card:hover{
    box-shadow: 0 0 5px 1px lightgrey;
    cursor: pointer;

}

.cuisine-card img{
    width: 15vw;
    height: 14rem;
    background-color: #eeeeee;
}

.cuisine-card-body{
    padding: 1rem 0rem;
}

.cuisine-card-body .title{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}




